// Original: https://2017.ursamajorsupercluster.com/

.navigation
    .navigation__title URSA MAJOR SUPERCLUSTER
    .wrapper
        a.navigation__link(href='')
        a.navigation__link(href='')
        a.navigation__link(href='')
        a.navigation__link(href='')
    .wrapper
        .navigation__text
            span.navigation__text-layer about
            span.navigation__text-layer about
            span.navigation__text-layer about
        .navigation__text
            span.navigation__text-layer ???
            span.navigation__text-layer ???
            span.navigation__text-layer ???
        .navigation__text
            span.navigation__text-layer work
            span.navigation__text-layer work
            span.navigation__text-layer work
        .navigation__text
            span.navigation__text-layer codex
            span.navigation__text-layer codex
            span.navigation__text-layer codex
    
svg.cursor-replacement(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 100 100' preserveAspectRatio='none')
    line.cursor-replacement__line(x1='0'   y1='0'   x2='50' y2='50' stroke='#555' stroke-width='0.1')
    line.cursor-replacement__line(x1='100' y1='0'   x2='50' y2='50' stroke='#555' stroke-width='0.1')
    line.cursor-replacement__line(x1='100' y1='100' x2='50' y2='50' stroke='#555' stroke-width='0.1')
    line.cursor-replacement__line(x1='0'   y1='100' x2='50' y2='50' stroke='#555' stroke-width='0.1')